.navbar {
  padding: 0;
  text-transform: uppercase;
  background: linear-gradient(rgba(216, 70, 39, .8), rgba(193, 41, 46, 0.8));
  @include media-breakpoint-up($navbar-expand-breakpoint) {
    width: 25%;
    height: 100vh;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;

    &:before {
      z-index: -1;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      content: " ";
      display: block;
      width: 25%;
      background: url('../assets/profile-background.jpg') top center no-repeat #bababa;
      background-size: cover;
    }

  }
}

.navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.6);
}

.navbar-light .navbar-toggler-icon {
  background-image: escape-svg($navbar-dark-toggler-icon-bg);
}

.nav__content {
  width: 100%;
  height: 100%;
  padding: rem(40px) 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-up($navbar-expand-breakpoint) {
    padding: rem(45px) 0;
  }
}

.nav__header {
  color: $white-smoke;
  text-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: block;
    text-align: center;
    margin: 0 -40px;
  }

  h1 {
    font-size: rem(22px);
    font-weight: 700;
  }

  h2 {
    font-size: 16px;
    font-weight: 400;
  }

}

.nav__expander {
  border-top: 1px solid rgba(255, 255, 255, 0.45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;

  @include media-breakpoint-up($navbar-expand-breakpoint) {
    width: calc(100% - 80px);
  }

  .social-media-list {
    @include media-breakpoint-up($navbar-expand-breakpoint) {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }

}

#main-nav {
  padding: 0;
  width: 100%;

  .nav-main ul {
    padding-bottom: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    list-style: none;
    display: block;
    width: 100%;
    padding: 5px rem(40px);
    position: relative;
    text-align: center;

    @include media-breakpoint-up($navbar-expand-breakpoint) {
      text-align: left;

      &.active:after {
        content: " ";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-right: 8px solid #fff;
        bottom: 6px;
        left: auto;
        right: 0;
      }
    }

  }

}

.navbar-expand-lg .navbar-nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.nav-item {
  font-size: rem(14px);
  color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  text-shadow: 1px 0px 20px rgba(0, 0, 0, 0.2);

  &.active {
    position: relative;
    color: $white-smoke;
  }

  &:hover {
    color: $white-smoke;
    text-decoration: none;
  }

  @include media-breakpoint-up($navbar-expand-breakpoint) {
    &.active:before {
      content: '';
      display: inline-block;
      background-color: $white-smoke;
      border-radius: 100%;
      width: 5px;
      height: 5px;
      position: absolute;
      right: -12px;
      top: 40%;
    }
  }

}

